@import 'bootstrap/dist/css/bootstrap.css';
@import 'fonts/boxicons.css';


/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.button-card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;  
  background-clip: border-box;
  border: 0 solid #d9dee3;
  border-radius: 0.5rem;
  background-clip: padding-box;
  box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
  width: 90px;
  height: 90px;
  transition: 0.3s ease-in-out;
  margin-left: auto;
  cursor: pointer;
}

.button-card:hover{
  /*width: 92px;
  height: 92px;*/
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 4px rgb(67 89 113 / 12%);
  transition: 0.3s ease-in-out;
}

.tooltipC {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  transition: 0.3s ease-in-out;
  
 /* position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltipC:before {
  content: attr(datatext); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:initial;
 /* margin-left:15px;*/ /* and add a small left margin */
  margin: initial;
  right:100%;
  margin-right:20px;
  
  /* basic styles */
  width:150px;
  height: 40px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;  

  display:none; /* hide by default */
}
.tooltipC:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  /*left:100%;
  margin-left:-5px;*/
  left: initial;
  margin: initial;
  right:100%;
  margin-right:0px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
 
  /* the arrow */
  border:10px solid #000;
  border-color: transparent transparent transparent black;
  
  display:none;
}
.tooltipC:hover:before,.tooltipC:hover:after {
  display:block;
}

.order-navbar-spaces{
  padding: 0 40px 0 0;
  margin: 0 auto;
  color: #000;
  font-size: 20px;
}



@media (max-width: 992px) {
  .order-navbar-spaces{
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .order-navbar-spaces{
    padding: 0 20px 0 0;
  }
}

@media (max-width: 280px) {
  .order-navbar-spaces{
    font-size: 10px;
    padding: 0 10px 0 0;
  }
}